SimpleITK
nibabel
numpy==1.26.4
pandas
matplotlib
totalsegmentator
trimesh
rtree
numpy-stl
open3d
vtk
torchvision
torch
torch_geometric
psutil
medpy
pyvista
pycpd
scikit-image==0.21.0
git+https://github.com/gasperpodobnik/MeshMetrics.git